[submodule "thirdparty/tclap"]
	path = thirdparty/tclap
	url = https://github.com/Schtee/tclap
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Schtee/rapidjson
